<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="{{ path('db_validacion_new')}}" method="post">
      {{form_widget(formulario_autor)}}
      <input type="submit">
    </form>
  </body>
</html>
