<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h3>The autor has the following errors</h3>
      <ul>
        {% for error in errors %}
          <li>{{ error.message }}</li>
        {% endfor %}
      </ul>
  </body>
</html>
