<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tutorial Symfony{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="container" style="margin-top:2em">
          <div class="row">
              <div class="col-md-8 offset-md-2">
                  <div class="card">
                      <div class="card-header">
                        {% block tituloPanel %}<h3>Tutorial Symfony</h3>{% endblock %}
                      </div>
                      <div class="card-block" style="padding:1em">
                        {# Pass a string argument to get only the messages of the type #}

                        {% for msg in app.flashes('success') %}
                          <div class="alert alert-success">
                            {{ msg }}
                          </div>
                        {% endfor %}

                        {% for msg in app.flashes('error') %}
                          <div class="alert alert-danger">
                            {{ msg }}
                          </div>
                        {% endfor %}
                        
                        {% block body %}{% endblock %}
                      </div>
                  </div>
              </div>
            </div>
        </div>

        {% block javascripts %}
          <!-- jQuery -->
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
