{% extends 'base.html.twig' %}

{% block tituloPanel %} {{ parent() }} Integrando Formularios {% endblock %}

{#  La configuracion del tema para los formularios se hizo global
    configurando twig en config/config.yml:
    form_theme formulario 'bootstrap_4_horizontal_layout.html.twig'
#}

{% block body %}

    <form action="{{ path('task_new')}}" method="post">

      {{ form_widget(formulario) }}
      <input type="submit" class="btn btn-primary center">

    </form>

{% endblock %}
